.main1{
    padding: 0;
    margin: 0;
    background: url(pics/background.jpg);
    background-size: cover;
}

.navbar{
    background: none;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    z-index: 200;
    margin-top: 8ox;
    margin-left: 50px;
    cursor: pointer;
}

.main2{
    margin-top: 8%;
    margin-left: 20%;   
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img img{
margin-left: 155px;
}

.img{   
    margin-top: 5%;
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 15px;    
}

.info h2 {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-bottom: 10px;
    cursor: pointer;
}

.google{
    row-gap: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.google img{
    width: 150px;
    height: 50px;
    margin-top: 200px;
    margin-right: -300px;
}

#img1{
    margin-right: 10px;
}
#img2{
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 20px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 22em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow:hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    cursor: pointer;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: white;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

.omar{
    position: absolute;
    margin-left: 8px; 
    color: white;    
    font-size: 12px;
    font-family: 'Bruno Ace SC', cursive;
    opacity:0.8;
    z-index: 300;
}
